/* ===============main styles ======== */
body {
  font-style: normal;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

h2 {
  text-align: center;
  font-size: 36px;
  line-height: 1.1;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.container {
  max-width: 1158px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.padd-section {
  padding: 120px 156px;
}

/* ===============/main styles======== */

/* ===============logotype======== */
.logotype {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-studio-header {
  color: #2e2f42;
}

.contacts {
  font-style: normal;
}

.contacts:hover,
.contacts:active {
  color: #404bbf;
}

.logotype:hover,
.logotype:active {
  color: #404bbf;
}

/* ===============/logotype======== */

/* ===============Main header======== */

.nav-links {
  font-size: 16px;
  font-weight: 500;
  color: #2e2f42;
}

.nav-list>li>a:hover {
  color: #404bbf;
}

.link-studio>a:focus,
.link-studio>a:hover {
  color: #404bbf;
}

.list-contacts {
  font-weight: 400;
  color: #434455;
}

.contact-info:hover,
.contact-info:focus {
  color: #404bbf;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  column-gap: 40px;
}

.contacts {
  align-self: flex-end;
  align-items: center;
}

.list-contacts {
  display: flex;
  column-gap: 40px;
}

header .container {
  width: 1158px;
  display: flex;
  justify-content: space-between;
}

.top-page {
  padding: 24px 15px;
}

/* ===============/Main header======== */

/* ===============Hero section======== */

.section-hero {
  display: flex;
  text-align: center;
  align-items: center;
  height: 600px;
  background-color: #2e2f42;
}

.main-title {
  width: 496px;
  height: 120px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.order-button {
  margin-top: 46px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  display: flex;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}


/* ===============/Hero section======== */

/* ============BENEFITS =========== */
.list-benefits {
  display: flex;
  gap: 24px;
}

.benefits-punkts {
  width: calc((1158px - 24px * 3) / 4);
}

.section-card-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}


/* ===============/BENEFITS======== */

/* ============OUR TEAM =========== */

.section-team {
  background-color: #f4f4fd;
}

.our-team {
  margin-bottom: 69px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.list-team {
  display: flex;
  column-gap: 24px;
  
}

.team-img {
  padding-bottom: 32px;
}

.team-cards {
  text-align: center;
  align-items: center;
  width: calc((1128px - 72px) / 4);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #FFF);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}


.team-profess {
  font-size: 16px;
  margin-bottom: 32px;
}

/* ============/OUR TEAM =========== */

/*========= OUR PORTFOLIO================= */

.list-portfolio {
  display: flex;
  column-gap: 24px;
  flex-wrap: wrap;
}

.portfolio-items {
  width: calc((1128px - 72px) / 3);
  border: 1px solid var(--CORNFLOWER, #E7E9FC);
  background: var(--WHITE, #ffffff);
  margin-bottom: 48px;
}

.cards-portfolio { 
  margin-bottom: 72px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-img {
  padding-bottom: 32px;
}

.portfolio-cards-title {
  padding: 0px 16px;
}

.type-app {
  padding: 0px 16px 32px 16px;
}

/*==========/OUR PORTFOLIO================= */

/* =============FOOTER========== */

.main-foot {
  padding: 100px 1020px 100px 156px;
  height: 312px;
  background-color: #2e2f42;
}

.logo-studio {
  color: #f4f4fd;
}

.copiright {
  width: 264px;
  height: 72px;
  color: #f4f4fd;
  margin-top: 17.5px;
}

.logotype-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

/* ============/FOOTER=========== */